body {
	font: 16px calibri, helvetica, serif;
}
canvas {
	border: 1px #000 solid;
}
canvas:active {
	cursor: crosshair;
}
#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#menu li {
	display: block;
	float: left;
	margin: 0 10px;
	cursor: pointer;
	width: 96px;
}
#menu li.selected {
	background: #ababab;
	position: relative;
	top: 2px;
	left: 2px;
	border-radius: 5px;
}
#menu img {
	width: 48px;
	height: 48px;
	margin: 0 auto;
	display: block;
}
